
/* 修改字体大小和颜色 */
.article-content p, .article-content ul, .article-content ol {
	font-size: 16px;
	color: #2f2f2f;
}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
	margin-left: -50px;
	font-weight: bold;
}
/* 修改段落样式 */
.article-content p {
	margin: 1em 0 0 0;
	line-height: 1.8em;
}
.article-content li > p {
	margin-top: 0;
}

/* p后面紧跟列表 */
.article-content p + ol, .article-content p + ul {
	margin-top: 0;
}

/* 设置一级列表的行高 */
li{
	line-height: 1.8em;
}
/* 设置二级列表的行高 */
li li {
	line-height: 1.5em;
}

/* 修改list-style 小圆点 颜色*/
.article-content ul li:before {
	background-color: #555;
}

/*toc 样式*/
/*.toc-level-1 > a {
	
	font-size: 18px;
}
.toc-level-2 > a {
	font-size: 16px;
}
.toc-level-3 > a {
	font-size: 14px;
}
.toc-level-4 > a {
	font-size: 12px;
}*/
.toc-article ol {
	padding-left: 20px;
}


